[Unit]
Description=Node.js Garage Light Server
[Service]
PIDFile=/tmp/light-machine-99.pid
User=pi
Group=pi
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pi/garage/
ExecStart=/home/pi/garage/bin/light-machine.sh
[Install]
WantedBy=multi-user.target
